{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Cursos</h1>
            </div>
        </div>
        <div class="row">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-push-10">
                <a class="btn btn-success" href="{% url 'learning_courses_show' %}">Carrito</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            {% for object in object_list %}
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li><strong>{{ object.name }}</strong></li>
                        <li><a class="btn btn-primary" href="{% url 'learning_courses_add' object.id %}">Comprar</a></li>
                    </ul>
                </div>
            {% endfor %}
            </div>
        </div>

        {% if is_paginated %}
            <ul class="pagination">
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><a href="#">{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}