{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Cursos Agregados</h1>
            </div>
        </div>
        <div class="row">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-push-10">
                <a class="btn btn-primary" href="{% url 'learning_courses_list' %}">Volver</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped col-lg-8">
                    <tr>
                        <th class="col-lg-9">Cursos</th>
                        <th class="col-lg-3"></th>
                    </tr>
                    {% for key, course in courses.items %}
                        <tr>
                            <td>{{ course.name }}</td>
                            <td><a href="{% url 'learning_courses_remove' key %}">eliminar</a></td>
                        </tr>
                    {% endfor %}
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}