{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crehana</title>
    <link href="{% static "learning/bower_components/bootstrap/dist/css/bootstrap.css" %}" rel="stylesheet" >
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
